@font-face {
    font-family: 'Menlo';
    font-style: normal;
    font-weight: 400;
    src: local('Menlo'), url('../sources/fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'AppleColorEmoji';
    src: url('./fonts/AppleColorEmoji.ttf');
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis/static/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis/static/Dosis-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis/static/Dosis-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Migikataagari';
    src: url('./fonts/migikataagari.ttf');
}

@font-face {
    font-family: 'KakuGyoStd';
    src: url('./fonts/A-OTF-KakuGyoStd-Light.otf');
}

@font-face {
    font-family: 'KleeOne';
    src: url('./fonts/KleeOne/KleeOne-Regular.ttf');
}

@font-face {
    font-family: 'KleeOne';
    src: url('./fonts/KleeOne/KleeOne-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Claire-Palmer-Serif';
    src: url('./fonts/Claire-Palmer-Serif.otf');
}

@font-face {
    font-family: 'Claire-Palmer-Script';
    src: url('./fonts/Claire-Palmer-Script.otf');
}

@font-face {
    font-family: 'Italiana-Regular';
    src: url('./fonts/Italiana-Regular.ttf');
}

@font-face {
    font-family: 'WeibeiSC-Bold';
    src: url('./fonts/WeibeiSC-Bold.otf');
}

@font-face {
    font-family: 'HYQuanTangShiF';
    src: url('./fonts/HYQuanTangShi/HYQuanTangShiF.ttf');
}

@font-face {
    font-family: 'HYQuanTangShiJ';
    src: url('./fonts/HYQuanTangShi/HYQuanTangShiJ.ttf');
}

@font-face {
    font-family: 'HYQuanTangShiJF';
    src: url('./fonts/HYQuanTangShi/HYQuanTangShiJF.ttf');
}

@font-face {
    font-family: 'HYKaiTiS';
    src: url('./fonts/HYKaiTi/HYKaiTiS.ttf');
}

@font-face {
    font-family: 'HanyiSentyFlorCalligraphy';
    src: url('./fonts/HanyiSentyFlorCalligraphy.ttf');
}

@font-face {
    font-family: 'HYLuoHuaShiW';
    src: url('./fonts/HYLuoHuaShiW.ttf');
}

@font-face {
    font-family: 'HYGuoQiangXingShuW';
    src: url('./fonts/HYGuoQiangXingShuW.ttf');
}

@font-face {
    font-family: 'MRT';
    src: url('./fonts/MRT/MRT-beta.ttf');
}

@font-face {
    font-family: 'KouzanBrushFontSousyo';
    src: url('./fonts/KouzanBrushFontSousyo.ttf');
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('./fonts/Ysabeau_Office/YsabeauOffice-Regular.ttf');
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('./fonts/Ysabeau_Office/YsabeauOffice-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'YsabeauOffice';
    src: url('./fonts/Ysabeau_Office/YsabeauOffice-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Regular.ttf');
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerifDevanagari';
    src: url('./fonts/Noto_Serif_Devanagari/static/NotoSerifDevanagari-Regular.ttf');
}

@font-face {
    font-family: 'NotoSerifHebrew';
    src: url('./fonts/Noto_Serif_Hebrew/static/NotoSerifHebrew-Regular.ttf');
}

@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url('./fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf');
}

@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    src: url('./fonts/Sahitya/Sahitya-Regular.ttf');
}

@font-face {
    font-family: 'SortsMillGoudy';
    src: url('./fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf');
}

@font-face {
    font-family: 'HuiZongGong-sc';
    src: url('./fonts/HuiZongGong/HuiZongGong-sc.ttf');
}

@font-face {
    font-family: 'HuiZongGong-tc';
    src: url('./fonts/HuiZongGong/HuiZongGong-tc.ttf');
}
