@import url('https://fonts.cdnfonts.com/css/menlo');

@font-face {
    font-family: 'WeibeiSC-Bold';
    src: url('./fonts/WeibeiSC-Bold.otf');
}

:root {
    --docsify-example-panels-document-width: calc(80% + 30px);
}

::-webkit-scrollbar {
    background: #eee;
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background: #c6a2eb !important;
}

.pageSidebarTitleClass {
    font-size: 26px;
    font-family: 'Menlo', sans-serif;
    color: #c6a2eb;
}

.pagesSideBarLevel1TitleDiv {
    font-family: 'WeibeiSC-Bold';
    font-size: 20px;
    max-width: 95%;
    margin: 10px 0 10px 5% !important;
    padding-right: 5%;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.coverPageScrollDownChevronDiv {
    margin: 50px 0 0;
}

.coverPageScrollDownChevron {
    position:relative;
    animation: moveChevron 2s infinite;
    -webkit-animation: moveChevron 2s infinite;
}

@keyframes moveChevron {
    0%   {
        top: 0px;
        opacity: 0.3;
    }
	50%  {
        top: 15px;
        opacity: 1;
    }
	100% {
        top: 0px;
        opacity: 0.3;
    }
}

@-webkit-keyframes moveChevron {
    0%   {
        top: 0px;
        opacity: 0.3;
    }
	50%  {
        top: 15px;
        opacity: 1;
    }
	100% {
        top: 0px;
        opacity: 0.3;
    }
}

.coverPageDescriptionDiv {
    align-self: center;
    max-width: 400px;
    margin: 0 auto 0 !important;
}

.coverPageDescriptionTypewriter {
    width: 360px;
    margin: 0 auto 0;
    position: relative;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 2px;
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    animation: typewriter 5s steps(22) 1s 1 normal both,
        blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 350px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: hsl(0, 0%, 80%);
    }

    to {
        border-right-color: transparent;
    }
}
