.mainPageRightPanelContainer {
    font-family: 'WeibeiSC-Bold';
    border: 1px solid rgba(198, 162, 235, .17);
    border-radius: 10px;
    margin: 0 auto 20px;
    max-width: 400px;
    text-align: center;
}

.mainPageAboutMeAvatar {
    max-width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.mainPageAboutMeTitle {
    margin: 10px 0 5px !important;
}

.mainPageAboutMeDescription {
    margin: 0 0 10px !important;
}

.mainPageAboutMeLinks {
    margin: 0 0 10px !important;
}

.mainPageAboutMeLinks>a {
    margin: 0 5px 0;
    text-decoration: none;
}

.mainPageAboutMeBadges {
    margin: 25px 0 0 !important;
}

.mainPageAboutMeImageLinks {
    margin: 0 0 0 !important;
}

.multiImagesContainerSection>p {
    line-height: 0;

    -webkit-column-count: 3 !important;
    -webkit-column-gap: 5px !important;
    -moz-column-count: 3 !important;
    -moz-column-gap: 5px !important;
    column-count: 3 !important;
    column-gap: 5px !important;
}

.multiImagesContainerSection>p>img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;

    margin: 5px 0 0 !important;
}

@media screen and (max-width: 1000px) {
    .multiImagesContainerSection>p {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media screen and (max-width: 400px) {
    .multiImagesContainerSection>p {
        -moz-column-count: 1 !important;
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
    }
}

iframe {
    border-radius: 10px;
}