.mainPageRightPanelContainer {
    font-family: 'WeibeiSC-Bold';
    border: 1px solid rgba(198, 162, 235, .17);
    border-radius: 10px;
    margin: 0 auto 20px;
    max-width: 400px;
    text-align: center;
}

.mainPageAboutMeAvatar {
    max-width: 100px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.mainPageAboutMeTitle {
    margin: 10px 0 5px !important;
}

.mainPageAboutMeDescription {
    margin: 0 0 10px !important;
}

.mainPageAboutMeLinks {
    margin: 0 0 10px !important;
}

.mainPageAboutMeLinks>a {
    margin: 0 5px 0;
    text-decoration: none;
}

.mainPageAboutMeBadges {
    margin: 25px 0 10px !important;
}

.mainPageAboutMeImageLinks {
    margin: 0 0 10px !important;
}

.multiImagesContainerSection>p {
    line-height: 0;

    -webkit-column-count: 3 !important;
    -webkit-column-gap: 5px !important;
    -moz-column-count: 3 !important;
    -moz-column-gap: 5px !important;
    column-count: 3 !important;
    column-gap: 5px !important;
}

.multiImagesContainerSection>p>img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;

    margin: 5px 0 0 !important;
}

@media screen and (max-width: 1000px) {
    .multiImagesContainerSection>p {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media screen and (max-width: 400px) {
    .multiImagesContainerSection>p {
        -moz-column-count: 1 !important;
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
    }
}

iframe {
    border-radius: 10px;
}

.briefCommentsOrNotesInBlogTitleYearDivider {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjI4cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiNjNmEyZWIiPjxwYXRoIGQ9Ik04LjU4NyA4LjIzNmwyLjU5OC01LjIzMmEuOTExLjkxMSAwIDAxMS42MyAwbDIuNTk4IDUuMjMyIDUuODA4Ljg0NGEuOTAyLjkwMiAwIDAxLjUwMyAxLjU0MmwtNC4yMDIgNC4wNy45OTIgNS43NWMuMTI3LjczOC0uNjUzIDEuMy0xLjMyLjk1MkwxMiAxOC42NzhsLTUuMTk1IDIuNzE2Yy0uNjY2LjM0OS0xLjQ0Ni0uMjE0LTEuMzE5LS45NTNsLjk5Mi01Ljc1LTQuMjAyLTQuMDdhLjkwMi45MDIgMCAwMS41MDMtMS41NGw1LjgwOC0uODQ1eiIgc3Ryb2tlPSIjYzZhMmViIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    border: 0 !important;
    height: 24px;
    margin: 1.7rem 0 !important;
    position: relative !important;
}

.briefCommentsOrNotesInBlogTitleYearDivider::before {
    background: #c6a2eb;
    height: 2px;
    width: 100px;
    content: ' ';
    position: absolute;
    left: calc(50% - 114px);
    margin-top: 10px;
}

.briefCommentsOrNotesInBlogTitleYearDivider::after {
    background: #c6a2eb;
    height: 2px;
    width: 100px;
    content: ' ';
    position: absolute;
    right: calc(50% - 114px);
    margin-top: 10px;
}

.briefCommentsOrNotesInBlogTitleYear {
    font-family: "WeibeiSC-Bold";
    margin-top: 40px;
}

.briefCommentsOrNotesInBlogTitleYear>summary {
    text-align: center;
    font-family: "Menlo";
    font-size: 50px;
    color: #c6a2eb;
    list-style: none;
    margin-bottom: 40px;
    position: relative !important;
}

.briefCommentsOrNotesInBlogTitleYear>summary:hover {
    cursor: pointer;
}

.briefCommentsOrNotesInBlogTitleYear>summary::-webkit-details-marker {
    display: none;
}

.briefCommentsOrNotesInBlogTitleYear>summary::after {
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjI4cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiNjNmEyZWIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIgc3Ryb2tlPSIjYzZhMmViIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+");
    position: absolute;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 15px;
}

.briefCommentsOrNotesInBlogTitleYear[open] summary::after {
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjI4cHgiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiNjNmEyZWIiPjxwYXRoIGQ9Ik02IDE1bDYtNiA2IDYiIHN0cm9rZT0iI2M2YTJlYiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPg==");
}

.briefCommentsOrNotesInBlog {
    margin: 10px 30px 30px;
    display: flex;
}

.briefCommentsOrNotesInBlogImageContainer {
    border-radius: 50%;
    overflow: hidden;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.briefCommentsOrNotesInBlogCommentsContainer {
    margin-left: 30px;
    margin-right: 10px;
    padding: 20px 20px 20px;
    background-color: #c6a2eb;
    color: #fff;
    border-radius: 10px;
}

.briefCommentsOrNotesInBlogCommentsContainerImg {
    text-align: center;
}

.briefCommentsOrNotesInBlogCommentsContainer img {
    margin: 5px 0 5px;
    border-radius: 5px;
}

.briefCommentsOrNotesInBlogCommentsContainer a {
    color: #9F88CF !important;
}

.briefCommentsOrNotesInBlogCommentsContainer blockquote {
    border-left: 4px solid #9F88CF !important;
    margin: 0.7em 0 !important;
}

.briefCommentsOrNotesInBlogCommentsDivider {
    border: 0 !important;
    width: 100% !important;
    height: 0 !important;
    border-top: 0.2rem dotted #fff !important;
    position: relative !important;
    overflow: visible !important;
    margin: 1.2rem 0 !important;
}

.briefCommentsOrNotesInBlogCommentsDivider:before {
    animation: move 5s infinite linear;
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjI4cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY29sb3I9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xNiAxMmwuMDExLjAxTTE5IDEybC4wMTEuMDFNMjIgMTJsLjAxMS4wMU0yIDEyYzAgNS41MjMgNC40NzcgMTAgMTAgMTBhOS45ODUgOS45ODUgMCAwMDgtMy45OTlMMTIgMTJsOC02LjAwMUE5Ljk4NSA5Ljk4NSAwIDAwMTIgMkM2LjQ3NyAyIDIgNi40NzcgMiAxMnoiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPg==");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    content: ' ';
    height: 24px;
}

@media screen and (max-width: 1000px) {
    .briefCommentsOrNotesInBlog {
        margin: 10px 0 20px;
        flex-wrap: wrap;
    }

    .briefCommentsOrNotesInBlogImageContainer {
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
    }

    .briefCommentsOrNotesInBlogCommentsContainer {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .briefCommentsOrNotesInBlogCommentsDivider:before {
        animation: move 3s infinite linear;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
}

.personalTenBestContainer {
    display: flex;
}

.personalTenBest {
    width: 50%;
}

.personalTenBestTitle {
    text-align: center;
    font-family: 'WeibeiSC-Bold';
    font-size: 30px;
}

.personalTenBestContent {
    margin-top: 20px;
    display: flex;
}

.personalTenBestContentImg img {
    width: 100px;
    height: auto;
    min-width: 100px;
    max-width: 100px;
}

.personalTenBestContentInfo {
    margin-left: 30px;
}

.personalTenBestContentInfo h5 {
    margin: 0 0 0 !important;
    font-size: 1.4em;
}

.personalTenBestContentInfo p {
    margin: 0 0 0 !important;
}

@media screen and (max-width: 1000px) {
    .personalTenBestContainer {
        display: block;
    }

    .personalTenBest {
        margin-top: 10px;
        width: 100%;
    }

    .personalTenBestContentInfo {
        margin-left: 15px;
    }

    .personalTenBestContentImg img {
        width: 80px;
        height: auto;
        min-width: 80px;
        max-width: 80px;
    }

    .personalTenBestContentInfo h5 {
        font-size: 1.1em;
    }
    
    .personalTenBestContentInfo p {
        font-size: 0.9em;
        line-height: 1.4em;
    }
}
